/*style geral*/

body {
    background-color: rgb(160, 109, 207);
    color: black;
}

button {
    background-color: rgb(108, 9, 202);
    color: black;
}

/*alternador de temas*/

.tema-claro {
background-color: #b43ecc;
color: black;
}

.tema-escuro {
    background-color: rgb(0, 0, 0);
    color: #f4f4f4;
}

.tema-escuro .conteiner {
    background-color:  rgb(0, 0, 0);
}

.tema-escuro h1, .tema-escuro h2 {
    color: #f4f4f4;
}

/* barra de progresso */
#barra-progresso {
    width: 100%;
    height: 25px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
} 
#progresso-atual {
    height: 100%;
    width: 0%;
    background-color: aquamarine;
    transition: width 0.5s ease;
}